tagset    = { environment = "Lab"
              customer    = "Partners"
              sdm-owner   = "foobar@strongdm.com"
	      cloud       = "Azure"
}

name      = "partnertraining"

create_linux_target = false
create_postgresql = false
create_mssql = false
create_domain_controller = false
create_windows_target = false
create_aks = false

create_az_ro = true

#Onboard domain users to be managed by StrongDM
#create_managedsecrets = true
